
/* Chief Colors Scheme

--moonstone: #69a2b0ff;
--yinmn-blue: #274c77ff;
--chamoisee: #9b7e46ff;
--snow: #f9f4f5ff;
--thistle: #cabac8ff;

*/
/* 
font-family: 'MedievalSharp', cursive;
font-family: 'Smooch Sans', sans-serif;
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
    color: #191716;
}

.background {
    background-image: url('bragi_background.jpg');
    background-size: cover;
    /* Other background properties like background-position, background-repeat, etc. */
}

#body{
    background-image: url('bragi_background.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainContainer{
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


#loginContainer{
    background-image: linear-gradient(to bottom, #BEB7A4,#191716 );
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 30%;
    border: 4px solid black;
    border-radius: 40px;
    min-width: 40%;
    font-size: 1.3em;
 }


#loginInputContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7em;
    gap: 2em;
}

#loginBtnContainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    gap: .6em;
    width: 50%;
    height: 30%;
}

.loginBtn {
    height: 100%;
    font-size: 1.3em;
}

.loginBtn:hover {
    cursor: pointer;
}

#loginStatus {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1.3em;
    color: white;
    border: thin solid white;
}




#navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8%;
}





#bragiTitle{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 100%;
    background: #BEB7A4;
}

#accountSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    padding: 1em;
    background: #BEB7A4;
}

#logout{
    padding: 1em;
    font-size: 1.2em;
    min-height: 10%;
    font-weight: bold;
}



#rowContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
}

#gamesSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    background-color: #BEB7A4
}

#searchSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    padding: 1rem;
    gap: 2rem;
}

#getGames {
    padding: 1em;
    font-size: 1.2em;
    min-height: 10%;
    font-weight: bold;
}

#gameTitleContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 15%;
    width: 100%;
    font-size: 1em;
}

#results {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border:3px solid black;
    padding: 1em;
    gap: 2em;
    overflow-y: scroll;
}

#gameListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    gap: .5em;
    border: 1px solid black;
    border-radius: 30px;
    background: #E0E2DB;
}

#gameListItem:hover{
    background-color: #E6AF2E;
}

#questListItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    padding: 1em;
    gap: .5em;
    border: 1px solid black;
    border-radius: 30px;
    background: #E0E2DB;
}

#questListItem:hover{
    background-color: #E6AF2E;
}
/* Journal */

#journalSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

#questTitleContainer {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    padding: 1.2em;
    gap: 1em;
    width: 100%;
    height: auto;
}

#acceptQuest {
    padding: .5em;
    font-size: .8em;
    min-height: 10%;
    font-weight: bold;
}

#dropQuest {
    padding: .5em;
    font-size: .8em;
    min-height: 10%;
    font-weight: bold;
}

#titleHeader{
    font-size: 1.2em;
    padding: 1em;
}

#journalHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 1em;
    background: #BEB7A4;
    border-bottom: 5px solid black;
}

#editJournal{
    padding: 1em;
    font-size: 1.4em;
    min-height: 10%;
    font-weight: bold;
    width: 20%;
}

#saveJournal{
    padding: 1em;
    font-size: 1.4em;
    min-height: 10%;
    font-weight: bold;
    width: 20%;
}

#journalBody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1em;
}

#journal {
    /* Center the #journal horizontally and vertically */
    display: none;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#journalContent {
    /* Center the #journalContent horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: 100%;
    background: white;
    border: 4px solid black;
    font-size: 1.6em;
}

#journalDisplay {
    background: #f9f4f5ff;
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 1.6em;
}




/* Quests */

#questsSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;
    height: 100%;
    background-color: #BEB7A4;
}
#questHeader{
    font-size: 1.2em;
    padding: 1em;
}

#questDescription{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
    height: 30%;
    font-size: 1.2em;

}

#descriptionBody{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    background-color: white;
    padding: 1em;
    overflow-y: scroll;
}

#questObjectives{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    border: 3px solid black;
    padding: 1em;

}

#objectiveScroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    overflow-y: scroll;
    gap: 1.5em;
    padding: 1em .5em;
    
}

.objectiveItem{
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.4em;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 1.5em;
    background: #E0E2DB;
    border: thin solid black;
    border-radius: 30px;
}
.objectiveItem * {
    font-family: inherit; /* Apply the font to all descendants */
}

#objectiveComplete{
    font-size: 1.4em;
}

.status-incomplete {
    background-color: #E6AF2E;
}

.status-complete {
    background-color: #14591D;
    color: white;
}


.btn{
    transition: transform 0.2s; /* Add a smooth transition for a smoother effect */
}
.btn:hover{
    transform: scale(1.2);
    cursor: pointer;
}