
/* Chief Colors Scheme

- Ivory: #E2DED0;
- Blue Gray: #647C90
- Cool Gray: #4E4F50
- Gray:#746C70

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --ivory: #E2DED0;
    --highlight: #4E4F50;
}

#body{
    background: var(--ivory);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .3em;
    height: 100vh;
}

#navbar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    border: 3px solid black;
}


#bragiTitle{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100%;
    border: 3px solid black;
}

#accountSection {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    border: 3px solid black;
    padding: 1em;
}


#loginContainer{
   box-sizing: border-box;
   display: flex;
   height: 50%;
}

#submitLogin {
   
}



#mainContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 92%;
}

#gamesSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    border: 3px solid black;
}

#searchSection{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    padding: 1rem;
    border: 3px solid black;
    gap: 2rem;
}

#searchHeader{
    align-self: center;
}

#searchBox{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid white;
}

#searchInput{
    width:80%;
}

#submitSearch{
    width:20%;
}

#results {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 75%;
    width: 100%;
    border:3px solid black;
    padding: 1em;
    gap: 2em;
    overflow-y: scroll;
}

#gameListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    gap: .5em;
    border: 1px solid black;
    border-radius: 30px;
}

#gameListItem:hover{
    background-color: grey;
}

#questListItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    gap: .5em;
    border: 1px solid black;
    border-radius: 30px;
}

#questListItem:hover{
    background-color: grey;
}

/* Journal */

#journalSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    border: 3px solid black;
}

#questTitleContainer {
    box-sizing: border-box;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    padding: 1.2em;
    gap: 1em;
    width: 100%;
    height: 15%;
    border: 3px solid black;
}

#journalHeader{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1em;
    border: 1px solid black;
}

#journalBody {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    padding: 1em;
}

#journal {
    /* Center the #journal horizontally and vertically */
    display: none;
    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#journalContent {
    /* Center the #journalContent horizontally and vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1em;
    width: 90%;
    height: 100%;
}

#journalDisplay {

    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    width: 90%;
    height: 100%;
    
}


#bragi {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50px;
    text-align: center;
    padding: 1em;
}


/* Quests */

#questsSection{
    box-sizing: border-box;
    width:30%;
    height: 100%;
    border: 3px solid green;
}


#questDescription{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    font-size: 1.2em;
    padding: 1em;
    width: 100%;
    height: 30%;
    border: 3px solid black;
}

#descriptionBody{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
    background-color: white;
    padding: 1em;
    overflow-y: scroll;
}

#questObjectives{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 70%;
    border: 3px solid black;
    padding: 1em;

}

#objectiveScroll{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    overflow-y: scroll;
    gap: 1.5em;
    padding: 1em .5em;
}

.objectiveItem{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1.5em;
    background-color: white;
    border: thin solid black;
}


